<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false">

	<appender name="APPENDER_CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p [%t] [%X{process}] [%c{1}] %m%n"/>
		</layout>
	</appender>

	<logger name="mu.validation">
		<level value="DEBUG"/>
	</logger>

	<logger name="org.springframework">
		<level value="WARN"/>
	</logger>

	<logger name="org.hibernate.ejb.Ejb3Configuration">
		<level value="INFO"/>
	</logger>

	<logger name="org.springframework">
		<level value="INFO"/>
	</logger>

	<logger name="org.hibernate.SQL">
		<level value="DEBUG"/>
	</logger>

	<logger name="org.hibernate.type">
		<level value="OFF"/>
	</logger>

	<logger name="org.hibernate">
		<level value="WARN"/>
	</logger>

	<logger name="org.testng">
		<level value="DEBUG"/>
	</logger>

	<root>
		<priority value="INFO"/>
		<appender-ref ref="APPENDER_CONSOLE"/>
	</root>

</log4j:configuration>
